/straight/build/
/straight/repos/
/straight/build-cache.el
/var/
/spell-fu/
/elpa/
/local-packages/
/.org-generic-id-locations
/code-review-error.log
/code-review-db-file.sqlite
/.cache/
*.eln
/eln-cache/
/GPATH
/GTAGS
/auto-save-list/
/forge-database.sqlite
/history
/org-roam.db
/places
/projectile-bookmarks.eld
/recentf
/request/
/transient/
/straight/modified/
